.col-2{
    font-size: 25px;
    font-weight: bold;
}

.col-10{
    font-size: 25px;
    font-weight: 400;
}

.container{
    background-image: linear-gradient(45deg, rgb(0, 255, 221),rgb(243, 204, 238));
}

input[type='submit']{
    border-radius: 10px;
    background-color: transparent;
    border: 1px black solid;
    font-weight: 300px;
}